.container {
    display: flex;
    flex-wrap: wrap;
}

.profile,
.professional {
    padding: 10px;
}

.profile {
    border-right: 1px solid #ccc;
}

.foto img {
    border: 2px solid #ccc; /* Adiciona uma borda de 2px sólida cinza (#ccc) */
    border-radius: 50%;
    width:130px;
    height: 130px;
}

.presentation {
    font-size: 30px;
}

.subtitle {
    font-size: 15px;
}

.professional {
    display: flex;
    flex-direction: column; /* Alinhamento vertical */
    align-items: flex-start; /* Alinhamento à esquerda */
}

/*  */

.stacks-dropdown {
    position: relative;
}

.frameworks {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 100px;
}

.stack1 {
    text-decoration: none;
    color:black;
    font-weight: 700;
}

.templateBody {
    margin-top: 50px;
}